@import "colors-wofi.css";

window {
    background-color: @background;
    color: @foreground;
    border: 2px solid @color2;
    border-radius: 8px;
}

#outer-box {
    background-color: @background;
    color: @foreground;
}

#input {
    margin: 8px;
    padding: 8px;
    background-color: @color0;
    color: @foreground;
    border-radius: 4px;
}

#inner-box {
    background-color: @background;
    margin: 4px;
}

#scroll {
    background-color: @background;
}

#entry {
    padding: 6px 10px;
}

#entry:selected {
    background-color: @color2;
    color: @background;
    border-radius: 4px;
}
